
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

backend/node_modules/
backend/dist/

frontend/node_modules/
frontend/.next/
frontend/.next/cache/

.idea/

.env

.docker/

mongo_db/

.DS_Store
Thumbs.db